
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.contact {
    background-color: #000;
    color: #fff;
    padding: 20px;
    width: 100%; 
}

.trip {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 40px;
}

.trip-info {
    flex: 1; 
    padding: 20px;
}

.image-container {
    margin-left: 20px; 
}

.image-container img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    display: block;
}

.trip-info h2 {
    margin-top: 0;
}


.image-container img {
    max-width: 300px;
    max-height: 300px; 
    width: auto;
    height: auto;
    display: block;
}
